<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635028092555-4fgkgt9jka773s0lf04e31mad99v31dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635028092555-4fgkgt9jka773s0lf04e31mad99v31dv</string>
	<key>API_KEY</key>
	<string>AIzaSyB6WBucphQlNCzDa5kUTX-dGTtVAF2AbAI</string>
	<key>GCM_SENDER_ID</key>
	<string>635028092555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anahatabinary.usebetter</string>
	<key>PROJECT_ID</key>
	<string>usebetter-bee56</string>
	<key>STORAGE_BUCKET</key>
	<string>usebetter-bee56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635028092555:ios:b1e3de99e6fdb4b504468e</string>
</dict>
</plist>